.menubar ul{

height:50px;
list-style:none;
margin:auto;
padding: 0px;
text-align:center;
}

.menubar li{
padding:0px;
text-align: center;
display:inline-block;
}

.menubar li a{
color:#ffffff;
display:block;
font-weight:normal;
line-height:50px;
margin:auto;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{

display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: #0f3e48;
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{

border:0px;
color:#ffffff;
text-decoration:none;
}

.ui-input-text{
    margin: .4em 0;
}
.ui-mini {
font-size: 13px;
}


thead tr{position: absolute; margin-top:-45px}

button.glyphicon{
	float:right;
	background-color: #ffffff;
  border:0;
  outline:0;
}

#holder { border: 3px dashed #ccc; width: 550px; min-height: 500px; margin:30px auto; float:left; margin-left:50px; position:relative; text-align:middle;}
#holder.hover { border: 3px dashed #A9D0F5; }
#holder img { 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin:auto;
    }




#result { margin:30px auto; float:left; padding-left:30px; overflow: auto; }

header
{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 25px;    
}

#info
{
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a{
    color: #074E8C;
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 550px;
    width: 500px;
    overflow-y: auto;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 500px;
}


#wrapper
{
    text-align: center;
    width: 300px;
    margin: auto;
}

  #page-wrapper {

    width:100%;
  }
  #main-wrapper{
    padding-left:500px;
  }
  
  #sidebar-wrapper {
    position: fixed;
    width: 300px;
    height: 100%;
    margin-left: 000px;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }




table{
}

th,td{
	text-align:center;
	width:100px;
}

    
#holder button{
    width: 150px;
    height: 40px;
    position: absolute;  
    top: 0; 
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin-top:510px;
}

#btn {
    background-color: #000000;
    border:0;
}